<!doctype html>
<html lang="en">

<head>
  <title>Digital-Academy</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="../../../../assets/icons/circle-logo.png">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="fonts/icomoon/style.css">
  <link rel="stylesheet" href="fonts/brand/style.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/aos.css">

  <!-- MAIN CSS -->
  <link rel="stylesheet" href="css/style.css">

</head>

<body>


  <div class="site-wrap" id="home-section">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar light site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center position-relative">

          <div class="col-3">
            <div class="site-logo">
              <a href="index.html"><strong>DigitalAcademy</strong></a>
            </div>
          </div>

          <div class="col-9  text-right">

            <span class="d-inline-block d-lg-none"><a href="#" class=" site-menu-toggle js-menu-toggle py-5 "><span class="icon-menu h3 text-black"></span></a></span>

            <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
              <ul class="site-menu main-menu js-clone-nav ml-auto ">
                <li><a href="/" class="nav-link">Home</a></li>
                <li ><a href="../home.html" class="nav-link">Courses</a></li>
                <li><a href="/about" class="nav-link">About</a></li>
                <li class="active"><a href="/contact" class="nav-link">Contact</a></li>
                <li><a href="../upgrade.html" class="nav-link">Pricing</a></li>
                <li><a href="/" class="nav-link">Sign In</a></li>
              </ul>
            </nav>
          </div>


        </div>
      </div>

    </header>


    <div class="site-section-cover overlay" style="background-image: url('images/hero_bg.jpg');">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-10 text-center">
            <h1><strong>Contact Us</strong></h1>
          </div>
        </div>
      </div>
    </div>




    <div class="site-section bg-light" id="contact-section">
      <div class="container">
        
        <div class="row">
          <div class="col-lg-8 mb-5" >
            <form method="post">
              <div class="form-group row">
                <div class="col-md-6 mb-4 mb-lg-0">
                  <input type="text" class="form-control" placeholder="First name" required>
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Last name" required>
                </div>
              </div>
            
              <div class="form-group row">
                <div class="col-md-12">
                  <input type="email" class="form-control" placeholder="Email address" required>
                </div>
              </div>
            
              <div class="form-group row">
                <div class="col-md-12">
                  <textarea class="form-control" placeholder="Write your message..." cols="30" rows="10" required></textarea>
                </div>
              </div>
              
              <div class="form-group row">
                <div class="col-md-6 mr-auto">
                  <input type="submit" class="btn btn-block btn-primary text-white py-3 px-5" value="Send Message" disabled>
                </div>
              </div>
            </form>
            
          </div>
          <div class="col-lg-4 ml-auto">
            <div class="bg-white p-3 p-md-5">
              <h3 class="text-black mb-4">Contact Info</h3>
              <ul class="list-unstyled footer-link">
                <li class="d-block mb-3">
                  <span class="d-block text-black">Address:</span>
                  <span>Av El Mourouj Hiboun 5111 Mahdia
                  </span></li>
                <li class="d-block mb-3"><span class="d-block text-black">Phone:</span><span>(+216) 24909710</span></li>
                <li class="d-block mb-3"><span class="d-block text-black">Email:</span><span>academy.digital.info@gmail.com</span></li>
              </ul>
              <ul class="list-unstyled social">
                <li><a href="mailto:academy.digital.info@gmail.com"><span class="icon-envelope"></span></a></li>
                <li><a href="https://github.com/DigitalAcademyTn
                  "><span class="icon-github"></span></a></li>
                <li><a href="https://www.facebook.com/people/Digital-Academy/61551398147207/?mibextid=LQQJ4d"><span class="icon-facebook"></span></a></li>
               
            </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="section footer-classic bg-gray-950">
      <div class="footer-classic-main">
        <div class="container"> 
          <div class="row row-30 " >
            <div class="col-lg">
              <div class="row row-30 row-xl-40">
                <div class="col-6 col-md-3 col-lg-12">
                  <article class="counter-minimal">
                    <div class="counter-minimal-counter">
                      <div class="counter animated">97</div><span class="counter-postfix">%</span>
                    </div>
                
                  </article>
                </div>
                <div class="col-12 col-md-3 col-lg-12">
                  <article class="counter-minimal">
                   
                    <p class="counter-minimal-title">Graduates</p>
                  </article>
                </div>
                <div class="col-6 col-md-3 col-lg-12">
                  <article class="counter-minimal">
                    <div class="counter-minimal-counter">
                      <div class="counter animated">30</div><span class="counter-postfix">+</span>
                    </div>
                
                  </article>
                </div>
                <div class="col-12 col-md-3 col-lg-12">
                  <article class="counter-minimal">
                   
                    <p class="counter-minimal-title">Student Campuses</p>
                  </article>
                </div>
                <div class="col-6 col-md-3 col-lg-12">
                  <article class="counter-minimal">
                    <div class="counter-minimal-counter">
                      <div class="counter animated">200</div><span class="counter-postfix">+</span>
                    </div>
                
                  </article>
                </div>
                <div class="col-12 col-md-3 col-lg-12">
                  <article class="counter-minimal">
                   
                    <p class="counter-minimal-title">Students</p>
                  </article>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-lg-4 col-xl-2">
              <h3 class="orange">Quick Links</h3>
              <ul class="list-unstyled">
                <li><a href="/">Home</a></li>
                <li><a href="../home.html">Courses</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="../upgrade.html">Pricing</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-lg-8 col-xl-4">
              <div class="row row-50 row-xl-70">
                <div class="col-12">
                  <h3 class="orange">About Us</h3>
                  <p>Digital Academy provides full-stack web development training, equipping learners with the skills to build scalable web applications. Our mission is to bridge the digital skills gap in the tech industry.</p>
     
                
                </div>
          
              </div>
            </div>
            <div class="col-sm-9 col-lg-3 col-xl-3 ml-3 ">
              <h3 class="orange">Company</h3>
              <h6>academy.digital.info@gmail.com</h6>
              <h6>Av El Mourouj Hiboun 5111 Mahdia</h6>
              <h6>(+216) 24909710</h6>
              <ul class="list-unstyled social">
                <li><a href="mailto:academy.digital.info@gmail.com"><span class="icon-envelope"></span></a></li>
                <li><a href="https://github.com/DigitalAcademyTn
                  "><span class="icon-github"></span></a></li>
                <li><a href="https://www.facebook.com/people/Digital-Academy/61551398147207/?mibextid=LQQJ4d"><span class="icon-facebook"></span></a></li>
                <li><a><span class="icon-instagram"></span></a></li>
            </ul>
            </div>
      
          </div>
        </div>
      </div>
      <div class="footer-classic-aside">
        <div class="container">
          <!-- Rights-->
          <p class="rights"><span>©&nbsp;</span><span class="copyright-year">2024</span><span>&nbsp;</span><span>All Rights Reserved.</span><span>&nbsp;</span><br class="d-sm-none"><a >Terms of Use</a><span> and</span><span>&nbsp;</span><a >Privacy Policy</a>.</p>
        </div>
      </div>
    </footer>

  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>

</body>

</html>

